.greeting {
  position: relative;
  strong {
    display: block;
    @include vw-convert(font-size, 60px);
    @include vw-convert(margin-bottom, 60px);
    font-weight: 700;
    color: #111;
    font-family: 'gowun';
  }
  p {
    @include vw-convert(font-size, 20px);
    font-weight: 400;
    color: #4c4c4c;
  }
  a {
    @include vw-convert(font-size, 18px);
    font-weight: 500;
    color: #111;
    svg {
      transform: rotate(-90deg);
    }
  }
  .imgs {
    display: flex;
    @include vw-convert(margin-top, 120px);
    justify-content: space-around;
    img {
      @include vw-convert(width, 270px);
      @include vw-convert(height, 326px);
    }
  }
  .bigProfile {
    position: absolute;
    right: 0;
    top: -11px;
    z-index: -1;
    @include vw-convert(width, 660px, 1920);
    @include vw-convert(height, 435px, 1920);
    @include vw-convert(top, -11px, 1920);
  }
}