.introduce_page {
  .introduce_tab {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include vw-convert(margin-top, 240px);
    @include vw-convert(margin-bottom, 240px);
    :local(.tab_nav) {
      position: relative;
      width: fit-content;
      margin: 0 auto;
      @include vw-convert(margin-bottom, 60px);
      justify-content: center;
      gap: 92px;
      button {
        @include vw-convert(font-size, 60px);
        font-family: "gowun";
        font-weight: 700;
        color: #bbb;
        &:first-child {
          &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            margin: auto;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background: #dddcdc;
            content: ''
          }
        }
      }
      :local(.is_selected) {
        color: #111;
      }
    }
    :local(.tab_list) {
      li {
        display: flex;
        @include vw-convert(margin-bottom, 52px);
        color: #111;
        font-family: 'pretendard';
        @include vw-convert(gap, 40px 52px);
        text-align: left;
        &:nth-child(2n) {
          flex-direction: row-reverse;
          text-align: right;
        }
        &:last-child {
          margin-bottom: 0;
        }
        strong {
          @include vw-convert(font-size, 40px);
          font-weight: 700;
        }
        p {
          @include vw-convert(font-size, 18px);
          font-weight: 400;
          white-space: pre;
        }
      }
    }
  }
}
