$breakpoints-tablet: 1280;
$breakpoints-mobile: 768;

@function pxtovw-mo($target) {
  $vw-content: ($breakpoints-mobile * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @for $i from 1 through $length {
    $result: append($result, nth($target, $i) / $vw-content + vw);
  }

  @return $result;
}

@function pxtovw-ta1366($target, $viewport-width: $breakpoints-tablet) {
  $vw-content: ($viewport-width * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @for $i from 1 through $length {
    @if (type-of(nth($target, $i)) == string) {
      $result: append($result, nth($target, $i));
    } @else {
      $result: append($result, nth($target, $i) / $vw-content + vw);
    }
  }

  @return $result;
}

// @mixin vw-convert($value, $size, $viewport-width: $breakpoints-tablet, $flag: false, $mode: "ta") {
//   // mo
//   @if ($mode== "mo") {
//     @media (max-width: #{$breakpoints-mobile}px) {
//       @if ($flag == true) {
//         #{$value}: pxtovw-mo($size) !important;
//       }

//       #{$value}: pxtovw-mo($size);
//     }
//   }

//   @if ($mode== "ta") {
//     // $target-width: if($viewport-width, $viewport-width, $breakpoints-tablet);

//     @media (min-width: #{$breakpoints-mobile + 1}px) and (max-width: #{$viewport-width}px) {
//       @if ($flag == true) {
//         #{$value}: pxtovw-ta1366($size, $viewport-width) !important;
//       }
//       #{$value}: pxtovw-ta1366($size, $viewport-width);
//     }

//     @media (min-width: ($viewport-width+"px")) {
//       @if ($flag == true) {
//         #{$value}: $size !important;
//       }
//       #{$value}: $size;
//     }
//   }
// }
@mixin vw-convert($value, $size, $viewport-width: $breakpoints-tablet, $flag: false, $mode: "ta") {
  @if ($mode == "mo") {
    @media (max-width: #{$breakpoints-mobile}px) {
      @if ($flag == true) {
        #{$value}: pxtovw-mo($size) !important;
      } @else {
        #{$value}: pxtovw-mo($size);
      }
    }
  }

  @if ($mode == "ta") {
    @media (min-width: #{$breakpoints-mobile + 1}px) and (max-width: #{$viewport-width}px) {
      @if ($flag == true) {
        #{$value}: pxtovw-ta1366($size, $viewport-width) !important;
      } @else {
        #{$value}: pxtovw-ta1366($size, $viewport-width);
      }
    }

    @media (min-width: #{$viewport-width}px) {
      @if ($flag == true) {
        #{$value}: $size !important;
      } @else {
        #{$value}: $size;
      }
    }
  }
}

// p {
//   @include vw-convert(font-size, 30px);
//   @include vw-convert(margin, 20px 10px auto);
// }
// ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
@mixin media-mo() {
  @media (max-width: ($breakpoints-mobile+"px")) {
    @content;
  }
}
@mixin media-ta() {
  @media (min-width: #{$breakpoints-mobile + 1}px) and (max-width: #{$breakpoints-tablet}px) {
    @content;
  }
}

@mixin dotdotdot($font-size: 14, $lines-to-show: 1, $line-height: 1.5) {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  // box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
  // display: box;
  // max-width: 400px;
  max-width: 100%;
  height: $font-size * $line-height * $lines-to-show * 1px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size * 1px;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin parent-selector($new-class) {
  $current-selector: &;
  $new-selector: "";

  @each $item in $current-selector {
    $first-item: nth($item, 1);

    $appended-item: $first-item + $new-class;

    $new-item: set-nth($item, 1, $appended-item);
    $new-selector: append($new-item, $new-selector);
  }

  @at-root #{$new-selector} {
    @content;
  }
}

@mixin scroll-hide {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
