.slide {
  .slick-prev,
  .slick-next {
    display: block;
    transform: none;
    background: #111;
    border-radius: 50%;
    @include vw-convert(width, 48px, 1920);
    @include vw-convert(height, 48px, 1920);
    z-index: 1;
    &:before {
      opacity: 1;
      font-family: "pretendard";
    }
  }
  &.is_kv {
    position: relative;
    width: 100%;
    max-width: 100%;
    @include vw-convert(padding, 0px 60px, 1920);
    border-radius: 46px;
    overflow: hidden;
    .slick-slide {
      position: relative;
    }
    .slick-dots {
      display: flex !important;
      bottom: 5.9%;
      right: 10.7%;
      background: #eee;
      @include vw-convert(width, 100px, 1920);
      height: 2px;
      justify-content: space-between;
      li {
        margin: 0;
        width: 50%;
        height: 100%;
        &.slick-active {
          background: #111;
        }
        &:first-child {
          button {
            @include vw-convert(left, -32px, 1920);
            top: auto;
          }
        }
        &:nth-child(2) {
          button {
            @include vw-convert(right, -32px, 1920);
            top: auto;
          }
        }
      }
      button {
        position: absolute;
        @include vw-convert(font-size, 16px, 1920);
        color: #4c4c4c;
        bottom: -10px;
        &:before {
          content: none;
        }
      }
    }
    .slick-prev,
    .slick-next {
      &:before {
        @include vw-convert(font-size, 20px, 1920);
      }
    }
    .slick-prev {
      right: 3.4%;
      top: auto;
      bottom: 3.2%;
      left: auto;
    }
    .slick-next {
      right: 0%;
      transform: none;
      top: auto;
      bottom: 3.2%;
    }
    .slick-slide > div > div {
      &:after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        // background: url("/img/dim.png") no-repeat center;
        // background-size: contain;
        overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 */
        mask-image: url("/img/dim.png"); /* 작은 배경 (마스크) */
        mask-size: cover; /* 마스크가 컨테이너를 꽉 채우도록 */
        mask-position: center;
        z-index: 0;
        // content: "";
      }
    }
    .text {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      color: white;
      z-index: 1;
      span {
        display: block;
        @include vw-convert(font-size, 32px, 1920);
        font-weight: 700;
        font-family: "gowun";
      }
      .line {
        @include vw-convert(margin, 32px auto, 1920);
        @include vw-convert(width, 40px, 1920);
        height: 1px;
        background: #fff;
        transform: rotate(45deg);
      }
      strong {
        display: block;
        @include vw-convert(font-size, 72px, 1920);
        font-weight: 700;
        font-family: "gowun";
      }
      p {
        @include vw-convert(font-size, 24px, 1920);
        font-weight: 400;
      }
    }
  }
  &.is_slide {
    position: relative;
    @include vw-convert(height, 570px);
    max-width: 100%;
    overflow: hidden;
    .title {
      font-family: "gowun";
      font-weight: 700;
      @include vw-convert(font-size, 60px);
    }
    .content {
      position: relative;
    }
    .slide-wrap {
      top: 0px;
      // width: 1462px;
      @include vw-convert(width, 1462px, 1920);
      // width: 1135px;
      @include vw-convert(right, -237px, 1920);
      position: absolute;
    }
    .slick-slider {
      position: relative;
      @include vw-convert(height, 330px, 1920);
      overflow: hidden;
    }
    .slick-list {
      @include vw-convert(padding, 0px 329px, 1920);
    }
    .slick-slide {
      // width: 308px!important;
      @include vw-convert(width, 308px, 1920, true);
      @include vw-convert(padding, 0px 30px, 1920);
      box-sizing: content-box;
    }
    .slick-prev {
      left: 0;
      @include vw-convert(bottom, -150px);
      top: auto;
      @include media-ta {
        left: 20px;
      }
    }
    .slick-next {
      right: 0%;
      transform: none;
      top: auto;
      left: 60px;
      @include vw-convert(bottom, -150px);
    }
    .slide {
      img {
        @include vw-convert(margin-bottom, 32px);
      }
      strong {
        display: block;
        width: 100%;
        text-align: center;
        @include vw-convert(font-size, 24px);
      }
      p {
        @include vw-convert(margin-top, 8px);
        @include vw-convert(font-size, 18px);
        text-align: center;
      }
    }
  }
}
